h1[b-9x40baw3sb] {
    color: blue;
    font-size: 29px;
}

button[b-9x40baw3sb] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.className[b-9x40baw3sb] {
    padding: 10px 20px;
}